#
# @author GDev
# @date November 2020
#

terraform {
  backend "s3" {
    bucket  = "<Your S3 terraform backend bucket>"
    key     = "terraform/cerella.tfstate"
    profile = "<Your AWS profile name>"
    region  = "eu-west-1"
  }
}

provider "aws" {
  profile = "<Your AWS profile name>"
  region  = "eu-west-1"
}

module "cerella" {

  source             = "git::https://github.com/optibrium/cerella_terraform.git//cerella?ref=v1.1.12"
  hosted-zone-id     = "<Your Hosted Zone ID>"
  domain             = "<Your DNS domain>"
  cluster-name       = "<Please contact support>"
  eks-instance-type  = "<Please contact support>"
  eks-instance-count = "<Please contact support>"
  ingress-cidr       = ["<The client source CIDR>"]
  docker-config      = "<Please contact support>"
}

output "config_map_aws_auth" {
  value = module.cerella.output_for_optibrium
}
